<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="31" android:compileSdkVersionCodename="12" package="com.android.theme.icon.taperedrect" platformBuildVersionCode="31" platformBuildVersionName="12">
    <overlay android:category="android.theme.customization.adaptive_icon_shape_vm" android:priority="1" android:targetPackage="android"/>
    <application  android:hasCode="false" android:label="@string/icon_shape_tapered_rect_overlay"/>
</manifest>